<table>
  <thead class="main">
    <tr>
      <div class="main-container">
        <div class="id">
          <th>ID</th>
        </div>
        <div class="title">
          <th>Title</th>
        </div>
        <div class="body">
          <th>Body</th>
        </div>
      </div>
    </tr>
  </thead>

  <tbody *ngFor="let val of users; let i = index">
    <tr>
      <div class="main-container2">
        <div class="i">
          <td>{{ i + 1 }}</td>
        </div>
        <div class="title2">
          <td>{{ val.title }}</td>
        </div>
        <div class="body2"></div>
        <td>{{ val.body }}</td>
      </div>
    </tr>
  </tbody>
</table>
